@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500;800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

@layer base {
  :root {
    --notice: 1deg 90% 64%;
    --blue-accent: 219deg 85% 26%;
    --light: 210deg 60% 98%;
    --light-400: 211deg 68% 94%;
    --light-500: 205deg 33% 90%;
    --dark: 219deg 14% 63%;
    --dark-500: 219deg 12% 42%;
    --dark-800: 224deg 21% 14%;

    --ff-primay: 'Plus Jakarta Sans', sans-serif;
  }

  a {
    @apply transition-colors duration-200 ease-in-out hover:text-primary-blue focus:text-primary-blue
  }
}

@layer components {
  .badge {
    @apply bg-primary-blue text-white py-1 px-3 leading-none rounded-lg
  }

  .unread {
    @apply w-3 h-3 bg-primary-red rounded-full inline-block ml-1
  }
}